* {
    padding: 0;
    margin: 0;
}

.minh-100 {
    max-width: 1600px;
    min-height: 100vh;
}

.body {
    background-color: #101722;
    color: #95918a;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.mono {
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}


.button-one {
    color: #78d7c0!important;
    border: 1px solid #247d67;
    border-radius: 5px;
}

.title{
    color: #a3b5ca;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

.description {
    font-size: 18px;
    width: 700px;
}

.image{
    width: 250px;
}


/* NAVBAR */

.text-prim {
    color: #AEFEFF;
}

#navbarNav ul .active{
    font-weight: bold;
}

#navbarNav ul li .nav-link{
    color:#a3b5ca;
    padding: .5rem 1rem;
}

/* HOME */
.pre-name {
    font-size: 16px;
    color: #78d7c0;
}

.name {
    font-size: 80px;
    color: #a3b5ca;
}

.post-name{
    font-size: 24px;
}

.padding-home {
    padding: 10rem 5rem;
}

