* {
    padding: 0;
    margin: 0;
}

.minh-100 {
    max-width: 1600px;
    min-height: 100vh;
}

.body {
    background-color: #101722;
    color: #8892b0;
    ;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.mono {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}


.button-one {
    color: #78d7c0 !important;
    border: 1px solid #247d67;
    border-radius: 5px;
}

.title {
    color: #a3b5ca;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}

.description {
    font-size: 18px;
    width: 700px;
}

.image {
    width: 250px;
}


/* NAVBAR */

.text-prim {
    color: #AEFEFF;
}

#navbarNav ul .active {
    font-weight: bold;
}

#navbarNav ul li .nav-link {
    color: #a3b5ca;
    padding: .5rem 1rem;
}

/* HOME */
.pre-name {
    font-size: 16px;
    color: #78d7c0;
}

.name {
    font-size: 80px;
    color: #ccd6f6;
}

.post-name {
    font-size: 24px;

}

.padding-home {
    padding: 10rem 5rem;
}

/* EXPERIENCE */

.title-work {
    font-size: 20px;
}

.company {
    color: #64ffda;
}

.container a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.container a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #64ffda;
}

.container a:hover {
    color: #64ffda;
    background-size: 100% 2px;
}

ul {
    margin-left: 2rem;
}